# Android build cache
android/app/.cxx/
android/app/.externalNativeBuild/

# iOS build
ios/build/
ios/Pods/

# Environment files
.env

# Build outputs
*.keystore
*.jks

# Misc
.expo/
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# node_modules
node_modules/
